. {
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --red: rgb(143, 10, 10);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--red);
    color: white;
}

main {
    color: black;
    display: flex;
    flex-grow: 1;
    min-height: 500 px;
    align-items: stretch;
    justify-content: center;
}

footer{
    color: black;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.quiz-area {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    background-color: white;
}

.score-and-timer {
    margin: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    background-color: white;
}

.answer-display {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    background-color: white;
}

#timer {
    display: flex;
    font-size: 3rem;
    color: var(--red);
}
